<div class="container py-3">
  <div class="restaurant-info">
    <div class="card bg-secondary-subtle p-2">
      <div class="img-box" style="height: 400px; width: 100%; background-image: url(<%= image_url(@pic) %>); background-position: center; background-size: cover;">
      </div>
      <div class="p-3">
        <h2><%= "#{@restaurant.name}" %></h2>
        <p><strong>Address: </strong><%= "#{@restaurant.address}" %></p>
        <p><strong>Phone Number: </strong><%= "P#{@restaurant.phone_number}" %></p>
        <p><strong>Category: </strong><%= "#{@restaurant.category}" %></p>
        <br>
        <%= link_to "Leave a review", new_restaurant_review_path(@restaurant) %>
      </div>
    </div>
  </div>
  <div class="reviews-info card bg-secondary-subtle p-2">
    <h2>Reviews</h2>
    <% @reviews.each do |review| %>
      <p><%= review.content %></p>
      <div class="rating d-flex">
        <% review.rating.times do |t| %>
          <p>⭐</p>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= link_to "Back to Restaurants", restaurants_path %>
</div>
